@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.xl');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        min-width: 500px;
        max-width: 800px;
    }
    body {
        background-color: theme('colors.gray.50');
    }
}
